.main-layout {
    display: flex;
    flex-direction: row;

    @media (max-width: 700px) {
        flex-direction: column;
    }

    .sidebar {
        width: 250px;
        background-color: #ffffff;
        position: fixed;
        height: 100%;
        padding-top: 20px;
        white-space: nowrap;
        border-right: 1px solid #e7e7e7;
        display: flex;
        flex-direction: column;

        .title {
            font-size: 40px;
            font-weight: 600;
            padding: 30px 16px 20px;
        }

        .menu {
            display: flex;
            color: black;
            padding: 16px;
            text-decoration: none;
            border-radius: 8px;
            align-items: center;
            gap: 8px;
            font-size: 24px;

            &:hover:not(.active) {
                background-color: #eaf5f9;
            }
        }
    }

    .content {
        padding: 16px;
        width: 100%;
        overflow-y: scroll;
        height: 100vh;
        margin-left: 250px;
        background-color: #fbfbfb;
    }

    @media screen and (min-width: 700px) {
        .menu {
            margin: 0 8px;
        }

        .footer {
            margin-top: auto;
            margin-bottom: 50px;
        }
    }

    @media screen and (max-width: 700px) {
        .sidebar {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            height: auto;
            position: relative;
            padding-top: 0;
            border-bottom: 1px solid #e7e7e7;
            border-right: none;
            margin-right: 0;

            & *:first-child {
                align-self: center;
                grid-row: span 2;
            }
        }

        .content {
            max-width: 100%;
            margin-left: 0;
        }
    }

    @media screen and (max-width: 550px) {
        .sidebar {
            display: flex;
            flex-direction: column;
        }

        .menu {
            width: 90%;
            justify-content: center;
        }

        .footer {
            margin-bottom: 20px;
        }

        .content {
            max-width: 100%;
            overflow-y: none;
        }
    }
}
