.concert-info-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 20px;

    border: solid 1px #c2c2c2;
    border-radius: 8px;

    .title {
        color: #1692ec;
        font-size: 32px;
        font-weight: 600;
    }

    .line {
        border-bottom: 1px solid #c2c2c2;
    }

    .description .number {
        font-weight: 400;
        font-size: 24px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .seats {
            display: flex;
            gap: 5px;
        }

        .button {
            font-size: 24px;
            font-weight: 500;
            color: #ffffff;
            border-radius: 4px;
            padding: 12px 16px;
            border: none;
            width: 160px;
            height: 60px;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .color-red {
                background-color: #e84e4e;
            }

            .color-blue {
                background-color: #1692ec;
            }
        }
    }
}
